<%= form_for(@note) do |f|%>
<p>ユーザーID（仮）</p>
<%= f.collection_select :user_id, User.all, :id, :id%>
いまどうしてる?
<!--<textarea name = "content"></textarea>-->
<%= f.text_area :content%>
<!--<input type="submit" value="ツイート">-->
<p><%= f.submit "ツイート"%></p>
<% end %>